<md-toolbar md-scroll-shrink class="listBar">
    <div class="md-toolbar-tools">
        <section layout="row" layout-align="center center">
            <md-button class="groupX" ng-click="ctrl.goResult()">选定</md-button>
            <md-button class="groupX" ng-click="ctrl.delCheck()">删除</md-button>
            <md-button class="groupX">过滤</md-button>
            <md-button class="groupX">扩展</md-button>
        </section>
    </div>
</md-toolbar>

<md-content flex class="listBox">
    <md-list flex layout="column">
        <md-list-item class="listItem" flex layout="row">
                <div class="listLeft" flex="5">
                    <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
                </div>
                <div class="listRight md-list-item-text" flex="95">
                    <h4>客户咨询业务</h4>
                </div>
        </md-list-item>
        <md-list-item class="listItem" flex layout="row">
            <div class="listLeft" flex="5">
                <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
            </div>
            <div class="listRight md-list-item-text" flex="95">
                <h4>客户咨询服务</h4>
            </div>
        </md-list-item>
        <md-list-item class="listItem" flex layout="row">
            <div class="listLeft" flex="5">
                <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
            </div>
            <div class="listRight md-list-item-text" flex="95">
                <h4>客户咨询渠道</h4>
            </div>
        </md-list-item>
        <md-list-item class="listItem" flex layout="row">
            <div class="listLeft" flex="5">
                <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
            </div>
            <div class="listRight md-list-item-text" flex="95">
                <h4>客户投诉问题</h4>
            </div>
        </md-list-item>
        <md-list-item class="listItem" flex layout="row">
            <div class="listLeft" flex="5">
                <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
            </div>
            <div class="listRight md-list-item-text" flex="95">
                <h4>客户地区分布</h4>
            </div>
        </md-list-item>
        <md-list-item class="listItem" flex layout="row">
            <div class="listLeft" flex="5">
                <md-checkbox ng-click="ctrl.toggle(item, selected)"></md-checkbox>
            </div>
            <div class="listRight md-list-item-text" flex="95">
                <h4>客户性别分布</h4>
            </div>
        </md-list-item>
    </md-list>
</md-content>